@font-face {
  font-family: "FazerHead";
  src: url(/fonts/FazerGrotesk-Bold.woff2);
  font-weight: normal;
}


html{
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory;*/
  overflow: hidden; 
  /* scroll-padding: 300px; */
  color: white;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
 width: 1080px;
 margin: auto;
 color: white;
}
h2{
  font-family: "FazerHead";
}
h1{
  font-family: "FazerHead";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
